{% macro render_field(field) %}
    {{ field.label(class_="col-md-12") }}
    <div class="col-sm-12">
    {{ field(**kwargs)|safe }}
    </div>
    {% if field.errors %}
        {% for error in field.errors %}
            <span class="alert-danger"><strong>{{ error }}</strong></span>
        {% endfor %}
    {% endif %}
{% endmacro %}