
<ul class="nav" id="side-menu">
    {% if session.is_admin %}
    <li style="padding: 70px 0 0;">
        <a href="{{ url_for('dashboard') }}" class="waves-effect"><i class="fa fa-desktop -o fa-fw" aria-hidden="true"></i>Dashboard</a>
    </li>
    <li>
        <a href="{{ url_for('users') }}" class="waves-effect"><i class="fa fa-user fa-fw" aria-hidden="true"></i>Users</a>
    </li>
        <li>
        <a href="{{ url_for('servers') }}" class="waves-effect"><i class="fa fa-server fa-fw" aria-hidden="true"></i>Servers</a>
    </li>
    <li>
        <a href="{{ url_for('teamspeaks') }}" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i>TeamSpeaks</a>
    </li>
    {% else %}
    <li style="padding: 70px 0 0;">
        <a href="{{ url_for('dashboard') }}" class="waves-effect"><i class="fa fa-desktop -o fa-fw" aria-hidden="true"></i>Dashboard</a>
    </li>
    <li>
        <a href="{{ url_for('settings') }}" class="waves-effect"><i class="fa fa-user fa-fw" aria-hidden="true"></i>My Account</a>
    </li>
    <li>
        <a href="{{ url_for('teamspeaks') }}" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i>My TeamSpeaks</a>
    </li>
    {% endif %}
    <li>
        <a href="{{ url_for('logout') }}" class="waves-effect"><i class="fa  fa-sign-out fa-fw" aria-hidden="true"></i>Logout</a>
    </li>
</ul>