{% extends 'base.html' %}
{% block body %}
    {%  if session['is_admin'] %}
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Total Servers</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div id="sparklinedash"></div>
                                </li>
                                <li class="text-right"><i class="ti-arrow-up text-success"></i> <span class="counter text-success">{{ stats[0] }}</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Total Users</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div id="sparklinedash2"></div>
                                </li>
                                <li class="text-right"><i class="ti-arrow-up text-purple"></i> <span class="counter text-purple">{{ stats[1] }}</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Total TeamSpeaks</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div id="sparklinedash3"></div>
                                </li>
                                <li class="text-right"><i class="ti-arrow-up text-info"></i> <span class="counter text-info">{{ stats[2] }}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Recently created TeamSpeaks</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>IP</th>
                                            <th>Port</th>
                                            <th>SID</th>
                                            <th>Slots</th>
                                            <th>Online</th>
                                            <th>Owner</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for teamspeak in teamspeaks %}
                                        <tr>
                                            <td>{{ teamspeak.ts_id }}</td>
                                            <td class="txt-oflo">{{ teamspeak.server.server_ip }}</td>
                                            <td>{{ teamspeak.ts_port }}</td>
                                            <td class="txt-oflo">{{ teamspeak.ts_sid }}</td>
                                            <td class="txt-oflo">{{ teamspeak.ts_slot }}</td>
                                            <td>{% if teamspeak.ts_status %}<span class="text-success">Online</span>{% else %}<span class="text-danger">Offline</span>{% endif %}</td>
                                            <td>{{ teamspeak.admin.username }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
    {% else %}
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="alert alert-info">
                                <p>You Used {{ stats[0] }} of your {{ stats[1] }} TeamSpeak Server Limits!</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="alert alert-info">
                                <p>You used {{ stats[2] }} of your {{ stats[3] }} TeamSpeak Slot Limits</p>
                        </div>
                    </div>
                </div>
                    <div class="col-md-12 col-xs-12">
                        <div class="white-box">
                           <h3 class="box-title">Recently created TeamSpeaks</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>IP</th>
                                            <th>Port</th>
                                            <th>SID</th>
                                            <th>Slots</th>
                                            <th>Online</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for teamspeak in teamspeaks %}
                                        <tr>
                                            <td>{{ teamspeak.ts_id }}</td>
                                            <td class="txt-oflo">{{ teamspeak.server.server_ip }}</td>
                                            <td>{{ teamspeak.ts_port }}</td>
                                            <td class="txt-oflo">{{ teamspeak.ts_sid }}</td>
                                            <td class="txt-oflo">{{ teamspeak.ts_slot }}</td>
                                            <td>{% if teamspeak.ts_status %}<span class="text-success">Online</span>{% else %}<span class="text-danger">Offline</span>{% endif %}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
    {% endif %}
{% endblock %}