{% extends 'base.html' %}
{% block body %}
<div class="col-md-12">
    <div class="white-box">
        <h3>Editing User {{ user.username }}</h3>
        {% from 'includes/_formhelpers.html' import render_field %}
        <form method="POST" action="" class="form-horizontal form-material">
            {{ modify.hidden_tag() }}
            <div class="form-group">
                {{ render_field(modify.username, class_="form-control", value=user.username) }}
            </div>
            <div class="form-group">
                {{ render_field(modify.email, class_="form-control", value=user.email) }}
            </div>
            <div class="form-group">
                {{ render_field(modify.password, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(modify.password_confirm, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(modify.server_limit, class_="form-control", value=user.server_limit) }}
            </div>
            <div class="form-group">
                {{ render_field(modify.slot_limit, class_="form-control", value=user.slot_limit) }}
            </div>
            <input type="submit" value="Save" class="btn btn-primary" name="modify_user">
            <input type="submit" value="Cancel" class="btn btn-primary" name="cancel">
        </form>
    </div>
</div>
{% endblock %}