{% extends 'base.html' %}
{% block body %}
<div class="col-md-12">
    <div class="white-box">
        <h3>Editing User {{ server.server_ip }}</h3>
        {% from 'includes/_formhelpers.html' import render_field %}
        <form method="POST" action="" class="form-horizontal form-material">
            {{ modify.hidden_tag() }}
            <div class="form-group">
                {{ render_field(modify.server_ip, class_="form-control", value=server.server_ip) }}
            </div>
            <div class="form-group">
                {{ render_field(modify.server_port, class_="form-control", value=server.server_queryport) }}
            </div>
            <div class="form-group">
                {{ render_field(modify.server_login, class_="form-control", value=server.server_admin) }}
            </div>
            <div class="form-group">
                {{ render_field(modify.server_password, class_="form-control", value=server.server_secure) }}
            </div>
            <input type="submit" value="Save" class="btn btn-primary" name="modify_server">
            <input type="submit" value="Cancel" class="btn btn-primary" name="cancel">
        </form>
    </div>
</div>
{% endblock %}