{% extends 'base.html' %}
{% block body %}
<div class="col-md-12">
    <div class="white-box">
        <h3>Editing TeamSpeak {{ teamspeak.server.server_ip }}:{{ teamspeak.ts_port }}</h3>
        {% from 'includes/_formhelpers.html' import render_field %}
        <form method="POST" action="" class="form-horizontal form-material">
            {{ modify.hidden_tag() }}
            <div class="form-group">
                {{ render_field(modify.teamspeak_port, class_="form-control", value=teamspeak.ts_port) }}
            </div>
            <div class="form-group">
                {{ render_field(modify.teamspeak_slot, class_="form-control", value=teamspeak.ts_slot) }}
            </div>
            <input type="submit" value="Save" class="btn btn-primary" name="modify_server">
            <input type="submit" value="Cancel" class="btn btn-primary" name="cancel">
        </form>
    </div>
</div>
{% endblock %}