{% extends 'base.html' %}
{% block body %}
<div class="col-md-6">
    <div class="white-box">
        <h3 class="box-title">Add a Server</h3>
        {% from 'includes/_formhelpers.html' import render_field %}
        <form method="POST" action="" class="form-horizontal form-material">
            {{ add.hidden_tag() }}
            <div class="form-group">
                {{ render_field(add.server_ip, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(add.server_port, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(add.server_login, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(add.server_password, class_="form-control") }}
            </div>
            <input type="submit" value="Add Server" class="btn btn-primary" name="add_sub">
        </form>
    </div>
</div>
<div class="col-md-6">
    <div class="white-box">
        <h3 class="box-title">Search in Servers</h3>
        {% from 'includes/_formhelpers.html' import render_field %}
        <form method="POST" action="" class="form-horizontal form-material">
            {{ search.hidden_tag() }}
            <div class="form-group">
                {{ render_field(search.search_query, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(search.search_in, class_="form-control form-control-line") }}
            </div>
            <input type="submit" value="Search" class="btn btn-primary" name="search_sub">
        </form>
    </div>
</div>
<div class="col-md-12">
    <div class="white-box">
        <h3 class="box-title">{{ title }}</h3>
        <p class="text-muted">You can <code>View</code>, <code>Add</code>, <code>Edit</code> and <code>Delete</code> your servers here!</p>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>IP</th>
                        <th>Query Port</th>
                        <th>TeamSpeak Servers</th>
                        <th>Used Slots</th>
                        <th>Owner</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for server in servers %}
                        <tr>
                            <td>{{ server.server_id }}</td>
                            <td>{{ server.server_ip }}</td>
                            <td>{{ server.server_queryport }}</td>
                            <td> {{ server.server_count() }}</td>
                            <td> {{ server.used() }}</td>
                            <td>{{ server.onwer }}</td>
                            <td>
                                <a href="/servers/edit/{{ server.server_id }}" class="btn btn-info">Edit</a>
                                <a href="/servers/delete/{{ server.server_id }}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}