{% extends 'base.html' %}
{% block body %}
<div class="white-box col-md-12">
    <h3 class="box-title">{{ title }}</h3>
     {% from 'includes/_formhelpers.html' import render_field %}
        <form method="POST" action="" class="form-horizontal form-material">
            {{ modify.hidden_tag() }}
            <div class="form-group">
                {{ render_field(modify.email, class_="form-control", value=user.email) }}
            </div>
            <div class="form-group">
                {{ render_field(modify.old_password, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(modify.new_password, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(modify.new_password_confirm, class_="form-control") }}
            </div>
            <input type="submit" value="Save" class="btn btn-primary" name="save_changes">
            <input type="submit" value="Cancel" class="btn btn-primary" name="cancel">
        </form></div>
{% endblock %}