{% extends 'base.html' %}
{% block body %}
<div class="col-md-6">
    <div class="white-box">
        <h3 class="box-title">Add a TeamSpeak</h3>
        {% from 'includes/_formhelpers.html' import render_field %}
        <form method="POST" action="" class="form-horizontal form-material">
            {{ add.hidden_tag() }}
            <div class="form-group">
                {{ render_field(add.teamspeak_server, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(add.teamspeak_port, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(add.teamspeak_slot, class_="form-control") }}
            </div>
            <input type="submit" value="Add Server" class="btn btn-primary" name="add_ts">
        </form>
    </div>
</div>
<div class="col-md-6">
    <div class="white-box">
        <h3 class="box-title">Search in Servers</h3>
        {% from 'includes/_formhelpers.html' import render_field %}
        <form method="POST" action="" class="form-horizontal form-material">
            {{ search.hidden_tag() }}
            <div class="form-group">
                {{ render_field(search.search_query, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(search.search_in, class_="form-control form-control-line") }}
            </div>
            <input type="submit" value="Search" class="btn btn-primary" name="search">
        </form>
    </div>
</div>
<div class="col-md-12">
    <div class="white-box">
        <h3 class="box-title">{{ title }}</h3>
        <p class="text-muted">You can <code>View</code>, <code>Add</code>, <code>Edit</code> and <code>Delete</code> your servers here!</p>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>IP</th>
                        <th>Port</th>
                        <th>SID</th>
                        <th>Slots</th>
                        <th>Online</th>
                        <th>Owner</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ts in teamspeaks %}
                        <tr>
                            <td>{{ ts.ts_id }}</td>
                            <td>{{ ts.server.server_ip }}</td>
                            <td>{{ ts.ts_port }}</td>
                            <td>{{ ts.ts_sid }}</td>
                            <td>{{ ts.ts_slot }}</td>
                            <td>{{ ts.ts_status }}</td>
                            <td>{{ ts.admin.username }}</td>
                            <td>
                                {%  if ts.ts_status %}
                                <a href="/teamspeak/stop/{{ ts.ts_id }}" class="btn btn-warning">Stop</a>
                                {% else %}
                                <a href="/teamspeak/start/{{ ts.ts_id }}" class="btn btn-success">Start</a>
                                {% endif %}
                                <a href="/teamspeak/edit/{{ ts.ts_id }}" class="btn btn-info">Edit</a>
                                <a href="/teamspeak/delete/{{ ts.ts_id }}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}