{% extends 'base.html' %}
{% block body %}
<div class="col-md-6">
    <div class="white-box">
        <h3 class="box-title">Add a User</h3>
        {% from 'includes/_formhelpers.html' import render_field %}
        <form method="POST" action="" class="form-horizontal form-material">
            {{ reg.hidden_tag() }}
            <div class="form-group">
                {{ render_field(reg.username, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(reg.email, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(reg.password, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(reg.password_confirm, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(reg.active) }}<br>
                {{ render_field(reg.admin) }}
            </div>
            <div class="form-group">
                {{ render_field(reg.server_limit, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(reg.slot_limit, class_="form-control") }}
            </div>
            <input type="submit" value="Add User" class="btn btn-primary" name="add_sub">
        </form>
    </div>
</div>
<div class="col-md-6">
    <div class="white-box">
        <h3 class="box-title">Search In Users</h3>
        {% from 'includes/_formhelpers.html' import render_field %}
        <form method="POST" action="" class="form-horizontal form-material">
            {{ search.hidden_tag() }}
            <div class="form-group">
                {{ render_field(search.search_query, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(search.search_in, class_="form-control form-control-line") }}
            </div>
            <input type="submit" value="Search" class="btn btn-primary" name="search_sub">
        </form>
    </div>
</div>
<div class="col-md-12">
    <div class="white-box">
        <h3 class="box-title">{{ title }}</h3>
        <p class="text-muted">You can <code>View</code>, <code>Add</code>, <code>Edit</code> and <code>Delete</code> your users here!</p>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Servers</th>
                        <th>Slots</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.user_id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{% if user.is_admin and user.is_active %}Admin{% elif user.is_active %}Reseller{% else %}Deactive{% endif %}</td>
                            <td>{{ user.teamspeaks.count() }} / {{ user.server_limit }}</td>
                            <td>{{ user.used() }} / {{ user.slot_limit }}</td>
                            <td>
                                <a href="/users/edit/{{ user.user_id }}" class="btn btn-info">Edit</a>
                                {% if user.is_admin and user.is_active %}

                                {% elif user.is_active %}
                                    <a href="/users/deactivate/{{ user.user_id }}" class="btn btn-warning">Deactivate</a>
                                {% else %}
                                    <a href="/users/activate/{{ user.user_id }}" class="btn btn-success">Activate</a>
                                {% endif %}
                                    <a href="/users/delete/{{ user.user_id }}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}